<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container topnavlinks">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
{% if site.topnav_title == "multilanguage"%}
       {% if site.m_topnav_title[page.lang] and page.lang != "en"%}
       <a class="fa fa-wrench fa-lg navbar-brand" href="{{page.lang}}_index.html">&nbsp;<span class="projectTitle">{{site.m_topnav_title[page.lang]}}</span></a>
       {% else %}
       <a class="fa fa-wrench fa-lg navbar-brand" href="index.html">&nbsp;<span class="projectTitle">{{site.m_topnav_title.en}}</span></a>
       {% endif %}
{% else %}
       <a class="fa fa-wrench fa-lg navbar-brand" href="index.html">&nbsp;<span class="projectTitle"> {{site.topnav_title}}</span></a>
{% endif %}       
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- toggle sidebar button -->
                <li><a id="tg-sb-link" href="#"><i id="tg-sb-icon" class="fa fa-toggle-on"></i> Nav</a></li>
                <!-- entries without drop-downs appear here -->

{% assign topnav = site.data[page.topnav] %}
{% assign topnav_dropdowns = site.data[page.topnav].topnav_dropdowns %}

                {% for entry in topnav.topnav %}
                {% for item in entry.items %}
                {% if item.title == "multilanguage"%}
                        {% if item[page.lang] %}
                        <li><a href="{{item.url | remove: "/"}}">{{item[page.lang]}}</a></li>
                        {% else %}
                        <li><a href="{{item.url | remove: "/"}}">{{item.en}}</a></li>
                        {% endif %}
                {% elsif item.external_url %}
                <li><a href="{{item.external_url}}" target="_blank">{{item.title}}</a></li>
                {% elsif page.url contains item.url %}
                <li class="active"><a href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                {% else %}
                <li><a href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
                <!-- entries with drop-downs appear here -->
                <!-- conditional logic to control which topnav appears for the audience defined in the configuration file.-->
                {% for entry in topnav_dropdowns %}
                {% for folder in entry.folders %}
                <li class="dropdown">
                {% if folder.title == "multilanguage"%}
                        {% if folder[page.lang] %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ folder[page.lang] }}<b class="caret"></b></a>
                        {% else %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ folder.en }}<b class="caret"></b></a>
                        {% endif %}
                {% else %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ folder.title }}<b class="caret"></b></a>
                {% endif %}
                    <ul class="dropdown-menu">
                        {% for folderitem in folder.folderitems %}
                        {% if folderitem.title == "multilanguage"%}
                            {% if folderitem[page.lang] %}
                                {% if folderitem.external_url=="multilanguage"%}
                                    {% if folderitem.m_external_url[page.lang]%}
                                            <li><a href="{{folderitem.m_external_url[page.lang]}}" target="_blank">{{folderitem[page.lang]}}</a></li>
                                    {% else %}
                                            <li><a href="{{folderitem.m_external_url.en}}" target="_blank">{{folderitem.en}}</a></li>
                                    {% endif%}
                                 {% elsif page.url contains folderitem.url %}
                                <li class="dropdownActive"><a href="{{folderitem.url |  remove: "/"}}">{{folderitem[page.lang]}}</a></li>
                                {% elsif folderitem.url %}
                                <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem[page.lang]}}</a></li>
                                {% elsif folderitem.external_url!="multilanguage" %}
                                <li><a href="{{folderitem.external_url}}" target="_blank">{{folderitem[page.lang]}}</a></li>                        {% endif %}
                        {% elsif folderitem.external_url=="multilanguage"%}
                                    {% if folderitem.m_external_url[page.lang]%}
                                            <li><a href="{{folderitem.m_external_url[page.lang]}}" target="_blank">{{folderitem.en}}</a></li>
                                    {% else %}
                                            <li><a href="{{folderitem.m_external_url.en}}" target="_blank">{{folderitem.en}}</a></li>
                                    {% endif%}
                        {% elsif folderitem.external_url%}
                        <li><a href="{{folderitem.external_url}}" target="_blank">{{folderitem.en}}</a></li>
                        {% elsif page.url contains folderitem.url %}
                        <li class="dropdownActive"><a href="{{folderitem.url |  remove: "/"}}">{{folderitem.en}}</a></li>
                        {% else %}
                        <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.en}}</a></li>
                        {% endif %}
                        {% elsif folderitem.external_url %}
                        <li><a href="{{folderitem.external_url}}" target="_blank">{{folderitem.title}}</a></li>
                        {% elsif page.url contains folderitem.url %}
                        <li class="dropdownActive"><a href="{{folderitem.url |  remove: "/"}}">{{folderitem.title}}</a></li>
                        {% else %}
                        <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% endfor %}
                {% if site.feedback_disable == null or site.feedback_disable == false %}
			{% include feedback.html %}
		{% endif %}
                <!--comment out this block if you want to hide search-->
                <li>
                    <!--start search-->
                    <div id="search-demo-container">
       {% if site.data.strings.search_placeholder_text %}
            {% if site.data.strings.search_placeholder_text[page.lang] %}                
                        <input type="text" id="search-input" placeholder="{{site.data.strings.search_placeholder_text[page.lang]}}">
            {%  else %}
                        <input type="text" id="search-input" placeholder="{{site.data.strings.search_placeholder_text.en}}"> 
            {% endif %}
       {% else %}
                        <input type="text" id="search-input" placeholder="{{site.data.strings.search_placeholder_text}}">
       {% endif %}
                        <ul id="results-container"></ul>
                    </div>
                    <script src="{{ "js/jekyll-search.js"}}" type="text/javascript"></script>
                    <script type="text/javascript">
                        var textnoresult = "{{site.data.strings.search_no_results_text[page.lang]}}"
                        if(textnoresult==""){
                            textnoresult="{{site.data.strings.search_no_results_text.en}}";
                        };
                            SimpleJekyllSearch.init({
                                searchInput: document.getElementById('search-input'),
                                resultsContainer: document.getElementById('results-container'),
                                dataSource: '{{ "search.json" }}',
                                searchResultTemplate: '<li><a href="{url}" title="{{page.title | escape }}">{title}</a></li>',
                    noResultsText: textnoresult,
                            limit: 10,
                            fuzzy: true,
                    })
                    </script>
                    <!--end search-->
                </li>
            </ul>
        </div>
        </div>
        <!-- /.container -->
</nav>
