<!DOCTYPE html>
<html lang="{{page.lang}}{% if page.lang %} {% endif %}{{post.lang}}{% if post.lang %} {% endif %}">

<head>
    {% include head.html %}
    <script>
        var languages = ["en", "ru"];
        var languageshomeredirect = ["ru"];
        //sostit with Liquid sintax
        var written = new Array(9 + 1).join('0').split('');
        var langind = 0;
        var towrite = [];

        var i = 0;

        function listaWritten() {
            $("ul.multilang li").each(function(index) {
                var langex = $(this).text();
                written[index] = langex.trim();
            });
            //console.log(written);
        }

        function writeAllLang() {
            $("ul.multilang li").remove();
            for (a = 0; a < languages.length; a = a + 1) {
                var singlelang = towrite[a];
                $("ul.multilang").append(singlelang);
            };
        }

        function addMultilangLink() {
            listaWritten();
            for (i = 0; i < languages.length; i = i + 1) {

                if (languages[i].trim() == written[langind]) {
                    var htmlwritten = $("ul.multilang li");
                    //console.log("nothing to do" + htmlwritten[langind] + langind);
                    var writenow = $(htmlwritten[langind]).html();
                    //console.log("to do" + writenow);
                    towrite.push("<li>" + writenow + "</li>");

                    langind = langind + 1;
                } else {
                    //$("ul.multilang").append('<a href="./how_translate_this_website.html" class="tradu">' + languages[i] + '</a>');
                    towrite.push('<li><a href="#" class="tradu">' + languages[i] + '</a></li>');
                }
            };

            writeAllLang();
            //onclick appear #wannat
            $('.tradu').click(function() {
                $('#wannat').removeClass("hide")
            });

        }; /* cycles through each li of ul.multilang and checks if they have a class with a language; if the class exists, the script proceeds, else, if it does not exist, it appends a standard li.*/

       var rtllang= [
"ar",  // Arabic
"dv",  // Divehi; Dhivehi; Maldivian
"he",  // Hebrew (modern)
"fa",  // Persian
"ps",  // Pashto; Pushto
"ur",  // Urdu
"yi",  // Yiddish
];
        function toggleMultilangRtl(){
            var languageset= $("html").attr("lang");
           //languageset= languageset.trim();
            for(i=0;i<rtllang.length;i++){
            if (languageset == rtllang[i]){
                $(".post-content").addClass("multilanguagertl");
                $(".post-header").addClass("multilanguagertl");
                return true;                
                }
        else{
              $(".post-content").removeClass("multilanguagertl");
            $(".post-header").removeClass("multilanguagertl");
            }
            };
        };
        
        $(function() {
           
            // multilang init
            addMultilangLink();
            // multilang rtl-ltr
            toggleMultilangRtl();
        });

        /*end multilanguage*/
        
        $(document).ready(function() {

            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>
    <script>
        $(document).ready(function() {
            $("#tg-sb-link").click(function() {
                $("#tg-sb-sidebar").toggle();
                $("#tg-sb-content").toggleClass('col-md-9');
                $("#tg-sb-content").toggleClass('col-md-12');
                $("#tg-sb-icon").toggleClass('fa-toggle-on');
                $("#tg-sb-icon").toggleClass('fa-toggle-off');
            });
        });

    </script>
  {% if page.url == "/index.html" %}
    <script>
        //multilanguage redirect script for the first time in english home page
     function getBrowserLang(){
           var writelocallang=localStorage.getItem("languageid");
               
           if(writelocallang==null){
           var userlang = navigator.language || navigator.userLanguage; 
           
           // if local storage is empty, redirect, else don't do anything.
           userlang=userlang.slice(0, 2);
               
           localStorage.setItem("languageid", "");
               
               for(i=0;i<languageshomeredirect.length;i++){
                   //console.log(languageshomeredirect);
                   if (userlang == languageshomeredirect[i]){
                   window.location.replace(userlang+"_index.html");
               };
               }           
           }
        //console.log("nothing");
       }
        $(function() {
            getBrowserLang();   
        });
    </script>
    {% endif %}
    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
        $(document).ready(function() {
            $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
            $('table.display').DataTable({
                paging: true,
                stateSave: true,
                searching: true
            });
        });

    </script>
    {% endif %}

</head>

<body>
    {% include topnav.html %}
    <!-- Page Content -->
    <div class="container">
        <div id="main">
            <!-- multilanguage menu -->
            <ul class="multilang">
                {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %} {% for post in posts %}
                <li>
                    <a href=".{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
                </li>
                {% endfor %} {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %} {% for page in pages %}
                <li>
                    <a href=".{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
                </li>
                {% endfor %}
            </ul>
            <div id="wannat" class="hide"><a href="./translation_readme.html">Translate this page</a></div>
            <!-- end of multilanguage menu -->
            <!-- Content Row -->
            <div class="row">
                {% assign content_col_size = "col-md-12" %} {% unless page.hide_sidebar %}
                <!-- Sidebar Column -->
                <div class="col-md-3" id="tg-sb-sidebar">
                    {% include sidebar.html %}
                </div>
                {% assign content_col_size = "col-md-9" %} {% endunless %}

                <!-- Content Column -->
                <div class="{{content_col_size}}" id="tg-sb-content">
                    {{content}}
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#main -->
    </div>

</body>
{% if site.google_analytics %} {% include google_analytics.html %} {% endif %}

</html>
